<div class="chat-room">
 <h1><%= @another_entry.user.name %>さんとのチャット</h1>
 <div class="user-name">
 </div>
 <hr>
 <div class="chats">
   <!--メッセージ表示部分-->
   <div class="chat">
     <% if @messages.present? %>
       <% @messages.each do |m| %>
         <div class="chat-box">
           <div class="chat-text">
             <%= m.text %>
             <%= m.created_at.strftime("%Y-%m-%d %H:%M") %>
           </div>
         </div>
       <% end %>
       <%else%>
         <p>メッセージはまだありません</p>
     <% end %>
   </div>
   <!--メッセージ表示部分-->

   <!--メッセージ投稿フォーム-->
   <div class="posts">
     <%= form_with model: @message, local: true do |f| %>
       <%= f.text_field :text, placeholder: "メッセージを入力してください" %>
       <%= f.hidden_field :room_id, value: @room.id %>
       <%= f.submit "送信する" %>
     <% end %>
   </div>
   <!--メッセージ投稿フォーム-->
 </div>
</div>